body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
}

.main {
  flex: 1;
}

.botonesHeader {
  display: flex;
  justify-content: right;
  align-items: center;
}

.main h3 {
  color: #3a2945;
  margin: 10px 20px;
}

.reporte {
  border: 1px solid #3a2945;
  border-radius: 10px;
  padding: 15px;
  margin: 0 20px;
  margin-bottom: 30px;
}

.tareas-semanal {
  display: flex;
  flex-wrap: wrap;
}

.tarea {
  margin: 10px;
  width: 250px;
}

.tarea span {
  display: block;
  font-size: 14px;
  margin-top: 6px;
  color: #555;
}

.tarea svg {
  color: red;
  margin-right: 5px;
}

.actividades {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  margin: 20px 20px;
}

.actividad-box {
  border: 1px solid #3a2945;
  border-radius: 10px;
  padding: 15px;
  width: 200px;
}

.actividad-box p {
  margin: 8px 0;
}