.sidebar {
  width: var(--sidebar-width);
  background: #3b2a41;
  color: #fff;
  padding-top: 32px;
  padding-left: 0;
  height: 100vh;
  box-sizing: border-box;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  position: relative;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 16px 32px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background 0.2s;
}

.sidebar li.active {
  background: #4e3757;
  color: #ff8c8c;
  font-weight: bold;
}

.sidebar li.section {
  margin-top: 32px;
  color: #bba4c7;
  font-weight: bold;
  background: none;
  cursor: default;
}

.sidebar li:hover:not(.active):not(.section) {
  background: #4e3757;
}

.sidebar a {
  color: #ff8c8c;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}